[2016-07-21 02:37] mkokho opened #1 "No logging when `-c` given no value or if value is incorrect"
[code]

[2016-07-21 05:52] Braedon commented on #1
@mkokho PR here: https://github.com/Braedon/prometheus-es-exporter/pull/2

If you're happy I'll merge and release a new version.

[2016-07-21 06:13] Braedon commented on #1
Fix merged. Will be released with 0.1.1

[2016-07-21 06:13] #1 closed

[2016-08-30 16:06] daveres opened #3 "Invalid metric name"
If you configure a percentile query to Elasticsearch, you receive the following error (Invalid metric name):

Traceback (most recent call last):
  File "./prometheus-es-exporter", line 11, in <module>
    sys.exit(main())
  File "/home/logiadmin/.local/lib/python3.5/site-packages/prometheus_es_exporter/__init__.py", line 135, in main
    scheduler.run()
  File "/usr/lib/python3.5/sched.py", line 1

[2016-08-30 16:08] daveres commented on #3
My query

[query_home_homemvc_home]
QueryIntervalSecs = 60
QueryIndices = <internalbalancer-*>
QueryJson = {
  "size": 0,
  "query": {
    "filtered": {
      "query": {
        "query_string": {
          "query": "domain: \"www.xxx.com\" AND request.raw: \"/\" AND ko:0",
          "analyze_wildcard": true
        }
      },
      "filter": {
        "bool": {
          "must": [
            {

[2016-08-30 16:10] daveres commented on #3
I have just made a patch in /prometheus_client/core.py to replace ".0" to "" and it works

[2016-08-31 00:22] Braedon commented on #3
Thanks for raising this @daveres, I'll try and release a patch in the next day or two. It will (probably) replace `.` (and maybe other disallowed characters?) with `_` in generated metric names.

[2016-08-31 08:02] Braedon commented on #3
PR https://github.com/Braedon/prometheus-es-exporter/pull/4

[2016-09-01 01:49] Braedon commented on #3
@daveres I've released 0.1.2 which should resolve this issue.

[2016-09-01 01:49] #3 closed

[2016-09-02 03:48] zanhsieh opened #5 "More example for instrument metrics name and label on export.cfg"
Hi,

Just curious, what should i do if I'd like to let Prometheus metrics coming out with label or custom name?

To demo this, suppose I have following defined in exporter.cfg:

    [query_all]
    # How often to run this query.
    QueryIntervalSecs = 5
    # The indices to run the query on. Any way of specifying indices supported by your Elasticsearch version can be used.
    # This key is optio

[2016-09-04 09:40] Braedon commented on #5
Hi @zanhsieh,

There are basically two types of metrics the exporter can currently extract from responses. The first type is the basic count of hits - `<query_name>_hits` - which is what you're using in your example. There currently isn't support for labels on these kinds of metrics, as any information about the query (e.g. what status code it matches) can be encoded in the metric name (i.e. the q

[2016-09-04 11:43] jinhang opened #6 "How to user your code?"
could you give me an example to use your code?thanks !

[2016-09-04 11:53] Braedon commented on #6
Hi @jinhang,

The [README.md](https://github.com/Braedon/prometheus-es-exporter/blob/master/README.md) shows how to install and run the app, [exporter.cfg](https://github.com/Braedon/prometheus-es-exporter/blob/master/exporter.cfg) has simple example queries, and the [parser tests](https://github.com/Braedon/prometheus-es-exporter/blob/master/tests/test_parser.py) have some more complicated query

[2016-09-04 12:16] jinhang commented on #6
thanks,could your write a detailed  steps to me , the readme is not clear,I can not try it run,thank you

[2016-09-04 12:22] Braedon commented on #6
I can't give more detailed instructions beyond what is in the README
without knowing what the issue is, sorry.

Please let me know what you are trying to do (install it, run it, write
queries, deploy somewhere, etc.) and where you are getting stuck, and I'll
try and help.

On Mon, 5 Sep 2016 12:16 am keehang, <notifications@github.com> wrote:

[2016-09-04 12:56] jinhang commented on #6
how to use the code monitor my es node?

[2016-09-04 21:57] Braedon commented on #6
@jinhang the README provides instructions for using this exporter. If you any _specific_ part is confusing, or does not work, feel free to raise an issue with details, or better yet, submit a PR to help improve it.

Note that, as described in the README, this exporter doesn't monitor ES nodes themselves - it monitors data within a ES cluster by running queries and exporting the results as metrics.

[2016-09-04 21:57] #6 closed

[2016-09-06 01:37] #5 closed

[2016-11-06 22:53] Braedon opened #8 "Can't aggregate by numeric field"
Bucket label generation expects string bucket names - throws an exception on numeric:
[code]

[2016-11-19 04:13] Braedon commented on #8
https://github.com/Braedon/prometheus-es-exporter/pull/9

[2016-11-19 04:24] #8 closed

[2016-12-25 23:44] webwurst opened #11 "Nodes stats and other metrics from cluster APIs"
I would like to get metrics for example for [cluster node stats](https://www.elastic.co/guide/en/elasticsearch/reference/5.x/cluster-nodes-stats.html) so requesting `_nodes/stats` instead of `_all/_search`. Is that possible? Or planned?

[2016-12-26 00:12] webwurst commented on #11
And also something like this: `/_stats/store` :-)

[2016-12-27 20:22] braedon commented on #11
Hi @webwurst,

That's not on the roadmap for now - I intended this project for monitoring the data inside ES, rather than ES itself, and the JMX exporter can be used to get a lot of metrics out of ES (not sure if it covers all of the data in the endpoints you mentioned).

However, it shouldn't be that hard to do, and JMX is a little rubbish, so I'll have a think.

[2017-01-22 20:20] braedon commented on #11
PR https://github.com/braedon/prometheus-es-exporter/pull/13

[2017-01-27 05:00] braedon commented on #11
@webwurst @onibox FYI, pushed a beta docker image that includes these stats: `braedon/prometheus-es-exporter:0.3.0.beta1`

Check the updates to the README and tests for details, and let me know if you have any feedback.

[2017-02-08 11:05] braedon commented on #11
Fixed in 0.3.0

[2017-02-08 11:05] #11 closed

[2017-04-11 18:44] jhejl2 opened #14 "Limit nodes_stats to specific fields with command line argument"
I found useful to limit `nodes_stats` to some specific fields, because nodes_stats export a lot of metrics from bigger clusters. Applying this patch do the job:
[code]

[2017-04-19 11:00] braedon commented on #14
Thanks @jhejl2, I'll take a look into this.

[2017-04-20 01:39] echojc opened #18 "Add `took` from query response as a metric?"
The performance profile of the queries you run for monitoring could change over time e.g., bringing on new clients in a multi-tenanted setup. Adding the time taken to execute the query would be a simple way to monitor the monitoring, so to speak.

[2017-04-20 03:01] braedon commented on #14
@jhejl2 Let me know if https://github.com/braedon/prometheus-es-exporter/commit/613a9f76a7053d85c6c9681a196816761cfdef6e satisfies your use case.

[2017-04-20 21:13] braedon commented on #14
@jhejl2 I also just had a look at the repo https://github.com/Showmax/prometheus-es-exporter you created.

I'd appreciate it if you used a Github fork, rather than a new repo with a copy of the code. Github forks provide a standard way of linking back to the source repository. Using one would also allow you to propose changes directly to me with a PR, and make it much easier for you to update your

[2017-04-24 23:24] #14 closed

[2017-05-07 17:31] cemo opened #19 "Labels"
I would like to add pod level labels to exported series. Is there a way to accomplish this?

Thank you so much for sharing your work.

[2017-05-08 08:33] braedon commented on #19
Hi @cemo, assuming you're meaning Kubernetes Pods, I set labels (you can do the same with annotations) on the pods themselves, and then covert them to labels on the series in the [Prometheus config](https://prometheus.io/docs/operating/configuration/#kubernetes_sd_config).

[code]

I started off with the [example config](https://github.com/prometheus/prometheus/blob/master/documentation/examples/p

[2017-05-13 01:38] #19 closed

[2017-06-01 23:41] r4j4h commented on #18
Even at least a "total query time" to query ES would be good. The logs indicate this is already timed.

e.g.

[code]

[2017-06-20 01:15] braedon commented on #18
Added in https://github.com/braedon/prometheus-es-exporter/releases/tag/0.4.0

[2017-06-20 01:15] #18 closed

[2017-06-22 04:47] thanh3d opened #20 "Error when run"
Traceback (most recent call last):
  File "/opt/prometheus-es-exporter/prometheus-es-exporter/bin/prometheus-es-exporter", line 7, in <module>
    from prometheus_es_exporter import main
  File "/opt/prometheus-es-exporter/prometheus-es-exporter/lib/python3.4/site-packages/prometheus_es_exporter/__init__.py", line 17, in <module>
    from prometheus_es_exporter import cluster_health_parser
  File

[2017-06-22 05:12] braedon commented on #20
Hi @thanh3d, looks like the syntax for unpacking a dictionary inside a dictionary display was only added in Python 3.5 (see [PEP 448](https://www.python.org/dev/peps/pep-0448/)).

I'll push a patch soon, but if you can upgrade your Python version to 3.5+ you can work around it in the meantime.

[2017-06-22 06:48] braedon commented on #20
@thanh3d Released a fix in version 0.4.2. Let me know if you have further issues.

[2017-06-22 06:48] #20 closed

[2017-07-11 16:41] aqmdla2002-2 opened #21 "Enable data table queries"
Step to reproduce:
- Query from a data table visualization
[code]
- Response from ES
[code]
- Actual result: "doc_count_error_upper_bound" and "sum_other_doc_count"

- Benefit: we could send only one query and receive several metrics

[2017-07-12 10:10] braedon commented on #21
Hi @aqmdla2002-2,

The `terms` aggregation in your example query should be supported. When I run your example response (minus the extra `}` in the `buckets` array) through the parser I get the following metrics:

[code]

Are you getting something different? If so, please attach a full `/metrics` scrape, and the exporter logs, so I can look into it further.

Thanks,
Braedon

[2017-07-12 10:40] aqmdla2002-2 commented on #21
Hi Braedon
You have right and everything is working because in Prometheus the rows are labels.
A lot of thanks

[2017-07-12 11:37] braedon commented on #21
No worries, I'm glad it is working for you.

[2017-07-12 11:37] #21 closed

[2017-08-22 23:06] atombender opened #22 "No way to get per-node index stats"
`es_indices_stats_primaries_docs_count` contains aggregated stats for the entire cluster. But there's no corresponding per-node index data, even though the code looks like it's supposed to default to getting everything from `/_nodes/stats`. For example:

[code]

[Here](https://gist.github.com/atombender/67dab3ce52d04ab8830bb55fb3945556) is the complete output. My flags (in Kubernetes format):

[co

[2017-08-23 08:33] braedon commented on #22
Hi @atombender,

The `--indices-stats-mode` flag only affects the metrics parsed from `/_stats`(`es_indices_stats_*`), not `/_nodes/stats`(`es_nodes_stats_*`).

The various ES metric endpoints contain some overlapping information, so I probably excluded the `indices` section of `/_nodes/stats` on the assumption that the more detailed information available in `/_stats` would suffice. However, looki

[2017-08-23 08:33] #22 closed

[2017-08-23 15:30] atombender commented on #22
Awesome, thanks.

[2017-08-24 04:03] qiangchow opened #23 "how can i get the result about "Prometheus gauge metrics""
Hi,

I run it as:

and it's running :
[code]

but what's the path of result? how can i get the result about "Prometheus gauge metrics"
thanks

[2017-08-24 11:04] braedon commented on #23
Hi @qiangchow,

The standard path for Prometheus endpoints is `/metrics`, so assuming you are running the exporter locally, you can find the metrics at http://localhost:9200/metrics. If you configure a Prometheus scrape for the exporter's IP/Port, Prometheus will use the `/metrics` path by default.

The exporter will actually serve the metrics on any path at the moment, e.g. http://localhost:9200/

[2017-08-30 01:31] braedon commented on #23
Closing issue for now. Feel free to re-open if you have further questions about this.

[2017-08-30 01:31] #23 closed

[2017-12-13 11:26] jangrewe opened #24 "Name of indices with incrementing IDs"
Hi, i'd like to not query all indexes to keep the load reasonable, but unfortunately we're not using date-based index names, but rather incrementing IDs.
Is there any way to do something like `QueryIndices = <myIndex_{highest_id}>`?

[2017-12-20 00:22] braedon commented on #24
Hi @jangrewe,

It doesn't look like there's any support for this kind of index naming scheme in Elasticsearch itself, so it'd be fairly substantial to implement. I'll have a think about a generic way to do this, and if it makes sense to support the feature.

It won't be until next year though, if it happens.

Regards,
Braedon

[2018-04-10 06:47] BarathanKannan opened #25 "No token found"
When I tried to add prometheus-es-exporter as target for prometheus I'm finding no token found error.
I used the promtool provided by prometheus to verify the metrics provided by prometheus-es-exporter.
I found that prometheus couldn't parse the following metrics.
When removed the following lines, the metrics were verified properly by promtool.

Can you guys check this out and fix it?

[code]

[2018-04-16 06:17] braedon commented on #25
@BarathanKannan It looks like the `-` in your node IDs aren't allowed in metric names. I've pushed a fix that should fix these types of issues. I'll close the issue, but re-open it if your case isn't fixed.

https://github.com/braedon/prometheus-es-exporter/releases/tag/0.4.4

[2018-04-16 06:17] #25 closed

[2018-09-19 09:52] cytopia opened #27 "How to enrich Prometheus metrics with variable labels"
Hi,

I am currently using Grafana with an ElasticSearch datasource to do variable queries based on my dashboard variables (e.g.: query for all or a specific node):

[code]

I wanted to switch to your prometheus-es-exported in order to unify everything in Prometheus without direct queries to other data source.

However, now I am unable to do variablized queries and I was asking myself if it is poss

[2018-09-22 00:08] braedon commented on #27
Hi @cytopia,

If I understand your use case correctly, you should be able to achieve what you want using an [Elasticsearch terms aggregation](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-terms-aggregation.html) on the `node` field in your log documents.

See [this test](https://github.com/braedon/prometheus-es-exporter/blob/ee41cd017b8c59abf4852e35e44c

[2018-10-11 12:15] jangrewe opened #28 "configparser.InterpolationSyntaxError if using regex with %"
Hi,
i've been building a query that includes a regex with `%` in it, which the configparser doesn't seem to like:

[code]

The (simplified) config looks like this:
[code]

[2018-10-30 10:41] nicolasreich opened #29 "Use the result of a query in another query"
Hello. There is some data about customers stored in ES, and I'd like to be able to query it repeatedly. The problem is that the customers change, so I'd like to be able to first get the list of customers. Is it possible with your exporter? Thanks.

[2018-11-07 22:42] r4j4h opened #30 "Elasticsearch queries with duplicated timeseries can block metrics endpoint"
Hi there,

I believe I have found a case where Prometheus occasionally reports `context deadline exceeded` while trying to scrape an instance of prometheus-es-exporter with many queries that take a range of time.

In particular I've noticed this one has some long-running queries (~4seconds) and if I repeatedly curl the /metrics endpoint I find it occasionally hangs before responding with the metri

[2018-11-12 13:53] #29 closed

[2018-11-12 22:35] r4j4h commented on #30
Just as a follow up, still encountering this but noticed that threads are already in use which for some reason I didn't before. 😊

[code]

I believe this duplicated timeseries error is the actual problem. It does seem to prevent responses to Prometheus scrapes though.

[2018-11-12 22:50] r4j4h commented on #30
I have determined the cause for this was the use of `stats` in multiple places.

This is a partial from a configured query:

[code]

After renaming the duplicate "stats" sections to have prefixes to prevent the collision, I am not seeing the error. And I am seeing the other stats populated in Prometheus. 👍

[2018-11-12 22:54] r4j4h commented on #30
I am re-opening this issue because I believe these should not be conflicting after all, which is why I wrote it as I initially did.

An example patched rename was in the deepest aggregate on Method, `stats` -> `method_stats` which results in the time series:

`nginx_request_durations_host_namespace_pod_statusCode_method_method_stats_avg`

If this was just `stats` it should still be

`nginx_request

[2018-11-12 22:57] r4j4h commented on #30
After reverting the error does not immediately appear. Perhaps it is a long-running issue, or happened by having it run with one set of configuration and then some drift over time, but still keeping the collected metrics in its registry?

Kind of at a loss now.. will report back if I see the error re-occur.

[2018-12-06 10:53] DeviaVir commented on #24
For those running into this now:
[code]

Then you can use the following line in your systemd service:
`ExecStartPre=/bin/bash /home/bs/prometheus/es.cfg.sh`

and have another timer service automatically restart your service daily or hourly:
[code]

[2018-12-06 10:57] jangrewe commented on #24
Haha, nice workaround! ;-)

I actually figured out that i can just use `graylog_deflector` (as we're using Graylog), which is an alias to the currently active (real) index.

[2018-12-06 10:59] DeviaVir commented on #24
@jangrewe huh. That would be handy, but I don't think syslog has an alias (at least, I couldn't find any).

[2018-12-06 11:11] jangrewe commented on #24
@DeviaVir I'm just wondering why you're doing it that complicated, instead of using the Date math as provided by the example config?
[code]
Which would result in `logstash-2018.12.06` for today (as explained [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/date-math-index-names.html)).

This issue was about indices which _don't_ use the date.

[2018-12-06 11:17] DeviaVir commented on #24
:man_facepalming:

Yep, ignore all of the above. I thought `{now/d}` was just to get the *day*, so it kept failing for me.

Thank you for pointing this out! _cleans up all the added bloat_

[2019-02-06 00:57] braedon commented on #28
Hi @jangrewe, this just sounds like part of the config syntax. Doesn't seem like a bug?

[2019-02-25 14:27] Martinmorrongiellomrf opened #31 "Aggregate by two labels"
Hi,
We want to export using two labels of a metric and get the result like this:

instead of the current result that is:

Is there a way to get this result ? Some work in progress? If not maybe we will try to develop some code that could get this.

Thanks

[2019-03-01 21:07] alexppg opened #32 "Add helm chart"
Hi

Just FYI, I've made a prometheus-es-exporter helm chart, since it seems there wasn't one. I've made a [MR](https://github.com/helm/charts/pull/11871) to the official charts repository.

Thanks for your work!

[2019-03-09 07:59] usego opened #35 "yyyy.mm prefix for indices"
Could you add any example how to reference montly prefixed indices? Example has QueryIndices = <logstash-{now/d}>  . I'm having hard time trying to figure out how to deal with YYYY.MM-indexname  type indices.  {now/m} doesn't work. It seems to be python config parser related, but I'm not so fluent in python and havent' found an answer quickly. Please help.

[2019-03-10 07:38] usego commented on #35
Just realized that this is ES search "date math", so closing this question.

[2019-03-10 07:38] #35 closed

[2019-03-25 14:04] ntavares commented on #31
Hi @Martinmorrongiellomrf check this article: https://kuther.net/blog/prometheus-run-queries-against-elasticsearch-and-turn-it-metrics-and-alerts

Wouldn't that solve your problem?

[2019-03-25 14:16] ntavares opened #36 "ValueError: Duplicated timeseries in CollectorRegistry - when using top_hits aggregations"
Hi @braedon

I'm trying to set up a query with aggregations, and I'm hitting this (periodic) exception:
[code]

First of all: I didn't check the code at all, nor attempted to debug it. I think the exception is harmless as I'm getting all other fields. What I think it happens is because of the result having:
[code]
the last block will be repeated by each bucket, and since the metric name is forged

[2019-04-10 03:46] WakeupTsai opened #37 "Metrics didn't get the label from aggs"
Here is my config
[code]

And the result I get from by using
[code]

I thought I will get the label like `env=production`, howerver, the label didn't apply on the metrics. is there anything i did wrong?
[code]

[2019-04-16 12:34] jamiguet opened #38 "On query failure metric is not removed"
I have a terms query setup via an alias.
I launch the exporter and all is good, the metric is there and then I get a doc count from it.

I change the index associated with the alias and I see the following error in the logs:
[code]

The terms query count does not disappear I can then not react to it with an is absent the last value remains in place.
I have not look at the code but it looks like th

[2019-05-13 14:54] sehdorn opened #39 "Support for client-certs?"
Hi,
how can i provide my client-cert / key to the application? I just see a parameter for a ca-cert, but not for a client-cert and its key.

thx

[2019-06-30 11:49] braedon commented on #38
Hi @jamiguet, can you confirm why the exception is actually being thrown? Is the alias no longer pointing to an index? Or is the query not valid in the new index somehow? Or something else?

Note that this PR is looking at one aspect of how to deal with metrics after query failures: https://github.com/braedon/prometheus-es-exporter/pull/34 I feel like the solutions might be related.

[2019-06-30 11:58] braedon commented on #37
Hi @WakeupTsai, from the metric output you posted, it looks like the query isn't matching any documents, when run by the exporter at least - `es_test_hits` is 0.

There's no metrics there for the `env` aggregation buckets (just `doc_count_error_upper_bound`/`sum_other_doc_count`), presumably as there's no buckets being returned. Only the bucket value metrics would have the `env` label, hence not s

[2019-06-30 12:04] braedon commented on #31
Hi @Martinmorrongiellomrf, if the documents you're querying all have both `uri` and `metric` fields, you can simply use a single query with nested terms aggregations. e.g. first aggregate by `uri`, then have a nested aggregation on `metric`. This will produce metrics with both labels.

The `test_nested_terms` test in `tests.test_parser.py` has an example of this kind of query.

[2019-06-30 12:07] #28 closed

[2019-07-19 17:56] usego opened #41 "ES 7+ compatibility"
I've upgraded ES to 7.2 and noticed that mine metrics against ES failed. After some research I found that metric if failing with:

[code]

I think the reason is that hits output is [changed in ES7](https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking-changes-7.0.html#hits-total-now-object-search-response) which breaks things. So or additional parameter rest_total_hits_as_int=tr

[2019-07-20 09:26] usego commented on #41
Adding ['value'] to parse_response fixes an issue for me:

result.append((metric + ['hits'], {}, response['hits']['total']['value']))

Sorry, could not provide PR as mine python skills are far from be able to do this in normal way to provide backward compatibility with ES6.

[2019-07-20 09:29] braedon commented on #41
Thanks for reporting this @usego, I'll have a play and see if I can get the parsing to handle both cases automatically.

[2019-07-24 10:13] giganteous opened #42 "Aggregations on date values return also a key 'value_as_string'"
Hi Breadon. First of all: nice software: I had an itch, and I found it.

I have 2 problems, one is covered by #41, the other is that the resultset returns a value_as_string for a timestamp:

[code]

This returns
[code]
I can easily find the line in parse_agg() that can skip this. I can't tell of find references to why this "value_as_string" is included, ES6 and 7 both return this extra field.

Can

[2019-07-24 10:51] giganteous commented on #42
Ah, this is the default for a date mapped field. I was too quick to name the issue. Renaming it.

[2019-07-24 10:55] giganteous commented on #42
I tried the extended_stats aggregation, and got this back (es6):
[code]

I'll add a testcase for this, and a possible fix.

[2019-08-01 02:09] wwlooi commented on #24
I created a sample Config for the exporter

`apiVersion: v1
kind: ConfigMap
metadata:
  name: es-exporter-config
  namespace: monitoring
data:
  exporter.cfg: |
    [DEFAULT]
    QueryIntervalSecs = 60
    QueryTimeoutSecs = 10
    #QueryIndices = _all
    QueryIndices = audit_logs_20190701

    # anything after the first query_ is used for the metric name
    [query_es_query_test]
    #QueryIndic

[2019-08-01 09:15] braedon commented on #24
@wwlooi Please open a separate issue - this issue is an unrelated enhancement request.

[2019-08-06 11:21] braedon commented on #42
Fixed in [0.5.2](https://github.com/braedon/prometheus-es-exporter/releases/tag/0.5.2)

[2019-08-06 11:21] #42 closed

[2019-08-06 11:21] braedon commented on #41
Fixed in [0.5.2](https://github.com/braedon/prometheus-es-exporter/releases/tag/0.5.2)

[2019-08-06 11:21] #41 closed

[2019-08-19 10:13] Mitrofanov opened #45 "Nodes stats parser fails on AWS managed Elasticsearch"
Hi,

I faced with errors in some queries. Errors are as follow (pls check that response code was 200):

[code]

I use AWS managed ES version 6.3. I've just upgraded es exporter to latest version (0.5.2), but issue still persists.

Please suggest.

[2019-08-20 07:31] braedon commented on #45
Hi @Mitrofanov,

I haven't been able to reproduce the issue locally with the official ES docker images (though there doesn't seem to be a tag for 6.3.x - I tried the earliest 6.x versions available: 6.4.0 and 6.8.2). It's probably something specific with your setup and/or AWS's modifications.

Are you able to attach the output of a manual `_nodes/stats` call (redacted as needed)? Feel free to send

[2019-08-23 01:41] jackiepg12 opened #46 "Reload when config is updated"
How to reload when the config is updated?

[2019-08-26 03:53] braedon commented on #46
Hi @jackiepg12, there's (currently) no support for reloading the config on the fly - either automatically or via a signal. The config is only read on startup, so if you need to modify it, you'll need to restart the exporter.

If you'd like to work on a config reload feature, I'd be happy to discuss how it might work?

[2019-08-29 16:56] diversario opened #47 "Arbitrary labels for metrics"
I'm using this exporter to alert via Prometheus when a query hit count is over a certain limit. When an alert is triggered, the content of the alert is fairly basic, only telling the user the name of the alert and not much else. What I would like to do is to include a link to Kibana with the search that triggered the alert. E.g. the alert would look something like

[code]

Is that something this e

[2019-08-30 20:21] jayanra commented on #39
How can i pass a ca.crt to the exporter. is there a docker variable?

[2019-09-02 11:55] braedon opened #48 "How can i pass a ca.crt to the exporter."
How can i pass a ca.crt to the exporter. is there a docker variable?

_Originally posted by @jayanra in https://github.com/braedon/prometheus-es-exporter/issues/39#issuecomment-526736655_

[2019-09-02 11:56] braedon commented on #39
@jayanra I've moved your question to its own issue - https://github.com/braedon/prometheus-es-exporter/issues/48

[2019-09-02 12:04] braedon commented on #48
Hi @jayanra,

The exporter takes the path to a CA cert bundle as a command line argument - `--ca-certs`. The default entrypoint of the docker image is set up so you can provide arguments like this as part of the docker run command. You'll need to mount the cert bundle somewhere in the docker container (similarly to the config file), and then reference that location with the `--ca-certs` argument.

[2019-09-02 12:25] braedon commented on #47
Hi @diversario,

If I understand your question correctly, the functionality you're after lies in Prometheus/Alertmanager, not this exporter. Exporters just provide the base metrics - its up to your Prometheus and Alertmanager configs to convert those metrics into alerts, and format those alerts.

I've set up similar alerts to what you're wanting by templating out the text and links in the annotati

[2019-09-04 08:19] Mitrofanov commented on #45
Hi, i think problem is with AWS managed ES. So looks like it blocks requests to system endpoints (like `_nodes/stats`), that's why i get such error.

Just wonder if we can add switch to disable system metrics collection.

[2019-09-04 08:30] braedon commented on #45
There are already arguments to disable the different system metrics collectors. e.g. `--nodes-stats-disable` for `_nodes/stats`.

If you can, could you still send me that output of the manual `_nodes/stats` call, or the return value of the `es_client.nodes.stats()` call in `NodesStatsCollector.collect()` if the manual call doesn't get a response at all. It'd be good to work out why its getting pas

[2019-09-16 06:33] #31 closed

[2019-09-16 06:34] #37 closed

[2019-09-17 18:14] r4j4h commented on #36
Yay I'm not alone, another case reported in #30

[2019-09-18 16:38] braedon commented on #36
@ntavares Apologies for not getting back to you (much) earlier. I thought I had, but apparently not!

As best I can tell, the issue is essentially that the `top_hits` aggregation isn't explicitly supported currently, and the existing metric extraction logic isn't producing valid metrics for the results it returns.

The good news is I think this exception will have been fixed by the fix for https:/

[2019-09-18 16:50] braedon commented on #36
Hi @r4j4h, sorry to hear you're still having issues. Your case is probably a little different, since you're not using `top_hits`, so lets jump back to https://github.com/braedon/prometheus-es-exporter/issues/30

[2019-09-18 17:01] braedon commented on #30
Hi @r4j4h, based on what I believe is happening in https://github.com/braedon/prometheus-es-exporter/issues/36 to cause a similar symptom, my hypothesis is that the `min` value in the `stats` aggregation response is sometimes non-numeric (my best guess currently would be `None`). This can put the service in a bad state, resulting in a duplicate metric exception later on.

If so, this issue was pro

[2019-09-18 21:37] ntavares commented on #36
Hi @braedon no worries about the delay.

I think an explicit use case can help indeed (sorry!). What I'm trying to do is to get the "top 10" containers (from all namespaces but "kube-system") that are producing the biggest amount of logs. The equivalent Timelion expression is:
```.es(split=kubernetes.container_name.keyword:10,q='!(kubernetes.namespace_name:"kube-system")')```

I just tried your su

[2019-09-24 17:00] MartinRoenneburg opened #49 "Support Elastic Scroll API"
Hi,

I have a use case where I get thousands of results.

Actually I use a workaround with multiple queries which is not so cool...

Is there a possibility to query elastic using the scroll api ?

[2019-09-25 01:10] braedon commented on #49
Hi @MartinRoenneburg,

This exporter focuses on exporting metrics from aggregations on documents, not documents themselves (though it does export the total count of matching documents). Extracting metrics from documents directly is considerably more complex a number of reasons, including how to handle scrolling, and how to define what metrics should be extracted (and how) from arbitrary documents.

[2019-09-25 01:45] braedon commented on #36
Good to hear you have it working @ntavares. I've added a list of unsupported aggregations to the README.

[2019-09-25 01:45] #36 closed

[2019-10-04 03:00] #48 closed

[2019-10-22 06:03] #47 closed

[2019-10-25 08:58] braedon commented on #39
Support added in [0.6.0](https://github.com/braedon/prometheus-es-exporter/releases/tag/0.6.0)

[2019-10-25 08:58] #39 closed

[2019-11-03 05:59] #49 closed

[2019-11-11 20:38] puthrichard opened #52 "Error in parsing aggregated response"
I'm currently working on a big query containing aggregated values. I'm only interested in aggregations.1.value, which in this case would be 396.

The following is the response I get after running the query in ES (v7.3.0)
[code]

Here is the error message I am getting in return
[code]

Thanks for getting back!

[2019-11-12 02:23] braedon commented on #52
Hi @puthrichard, sorry you're having issues.

I can't immediately see how the code would produce that key error with that response. My best guess is that the exporter is getting a different response for some reason - possibly some kind of error that's not being handled.

Are you able to run the exporter locally, and add a logging line to the code? If so, please modify the `run_query()` function in

[2019-11-25 14:57] caoxiaojian opened #53 "Query the state of each index"
Hi:
  I want to query all the information for each index, and how do I do that.
  thanks

[2019-11-26 06:00] braedon commented on #53
Hi @caoxiaojian,

Can you be more specific about what information you want to query, and the index contents/structure?

Thanks,
Braedon

[2019-11-26 06:01] #30 closed

[2019-12-23 07:19] #52 closed

[2019-12-26 10:55] kamalveer opened #56 "ConnectionRefusedError: [Errno 111] Connection refused"
### Hey! Please refer below logs, which are being created on deploying the pod and not accessible through curl.

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/site-packages/urllib3/connection.py", line 157, in _new_conn
    (self._dns_host, self.port), self.timeout, **extra_kw
  File "/usr/local/lib/python3.6/site-packages/urllib3/util/connection.py", line 84, in create_conne

[2020-01-05 09:58] braedon commented on #56
Hi @kamalveer, that looks like a networking issues, rather than an issue with the exporter itself. The exporter can't connect to your ES cluster, and your `curl` command can't connect to the exporter.

It doesn't look like there's much I can do to help - I'd recommend digging into your network setup and making sure the exporter can connect to the ES cluster first.

[2020-01-05 09:58] #53 closed

[2020-01-06 07:03] braedon commented on #38
Hi @jamiguet, I've finally gotten around to working on a solution for this. PR https://github.com/braedon/prometheus-es-exporter/pull/57 updates the exporter to drop metrics produced by a query if that query throws an exception. It can also be configured to preserve the old values instead (what it used to do), or zero all the metrics for that query.

I hope that fixes your issue here!

[2020-01-06 08:21] kamalveer commented on #56
Thanks braedon,
I think ipv6 is the cause. Do i need to bind with ipv6 netwrok interface like we do in java --build 0.0.0.0 How can it be done in python?  or is it already there in your code? I'm not a python guy actually

[2020-01-06 10:05] braedon commented on #56
Hmm, it's possible ipv6 is the issue... I don't have a ipv6 network to test on unfortunately. I don't know of any special setup required to get python running with ipv6 (and a quick Google doesn't show anything general), but I might be missing something.

However, I'm using the [Prometheus Python client](https://github.com/prometheus/client_python) inbuilt server to serve the metrics endpoint, and

[2020-01-06 13:37] kamalveer commented on #56
Yes, It is k8s and only on ipv6 not dual-stack

[2020-01-07 07:41] braedon commented on #38
The solution has been released in [0.7.0](https://github.com/braedon/prometheus-es-exporter/releases/tag/0.7.0)

[2020-01-07 07:41] #38 closed

[2020-01-07 07:51] braedon commented on #56
OK, looks like we might need to play around with the server (maybe swap it out?) to get it to support ipv6. I don't have time to work on that right away, but maybe next week? If so, would you be able to test a branch for me?

I'm still not sure why the Python Elasticsearch client can't connect to your cluster. Can you try exec-ing into the exporter pod, and curling http://ingest-node-elk-final-lb.

[2020-01-07 08:46] kamalveer commented on #56
Sure @braedon, I would be available for that, np.

[2020-01-16 15:07] adskyiproger opened #58 "Documentation update with new features is needed"
I'm working on fresh setup of Prometheus monitoring and found prometheus-es-exporter useful for scraping logs exceptions from elasticsearch index.
While trying to setup prometheus-es-exporter ssl certificates configuration was used for Elasticsearch connection. Here is snippet from my kubernetes yaml:

[code]
Unfortunately this feature is not documented yet.
Could you please add  some documentatio

[2020-01-17 09:39] braedon commented on #58
Hi @adskyiproger, I'm glad you're finding the exporter useful.

My philosophy on documentation for small projects like these is to try and give enough info to get people started in the README, and have light documentation on configurable features in the CLI interface, e.g.
[code]

In this particular case, I can't provide too much more information than that anyway, as these options are essentially

[2020-01-20 15:21] adskyiproger commented on #58
Hello @braedon ,
Thank you for the answer.

We are using `prometheus-es-exporter` in docker and we have not tried to run it as standalone app. This is the reason why I was confused about not documented features.
Probably the best option is to leave `README` file as is.

I'd like to say, Thank you very much for the great and simple tool.

[2020-01-21 02:43] braedon commented on #58
You're welcome @adskyiproger. Let me know if you have any further questions.

[2020-01-21 02:43] #58 closed

[2020-02-09 23:41] braedon commented on #56
@kamalveer - it's been a bit more than a week, sorry, but I think I've gotten the exporter serving metrics on IPv6 in this PR: https://github.com/braedon/prometheus-es-exporter/pull/59

I've released a test version as `0.8.0a1`, so if you could give it a try and let me know how it goes, that'd be great!

[2020-03-16 15:02] david-rooke opened #60 "How to Extend Metric Labelling"
Hi,
Is it possible to annotate metrics such `es_cluster_health_status` with meaningful labels such as `colour=<green|yellow|red>`? I'm planning some dashboards and this would be very helpful.

[2020-03-20 10:32] braedon commented on #60
Hi @david-rooke, thanks for the suggestion.

It's generally better to update values rather than labels when something changes, so how about adding new metrics for each of the colours, which are either 0 or 1, depending on which status a cluster/index has?

That'd allow you to find how many (and if any) clusters/indices are in a given status, which isn't really possible with the current metric.

e.

[2020-03-23 10:00] david-rooke commented on #60
Hi, Yes that would be helpful. Thank you :)

[2020-03-26 08:40] braedon commented on #56
Hi @kamalveer, any chance you've been able to test this?

[2020-03-26 13:48] braedon commented on #60
@david-rooke released a version ([0.8.0](https://github.com/braedon/prometheus-es-exporter/releases/tag/0.8.0)) with the extra metrics.

[2020-03-26 13:48] #60 closed

[2020-05-06 08:23] RobertKirk commented on #24
Elasticsearch has index aliases which you can set up, and then point this exporter at the alias. See https://www.elastic.co/guide/en/elasticsearch/reference/7.7/indices-aliases.html

They can also be managed automatically if you're using index lifecycle management: https://www.elastic.co/guide/en/elasticsearch/reference/current/overview-index-lifecycle-management.html

[2020-05-06 08:26] RobertKirk opened #62 "Enable loading all configuration options from a file."
Currently you can load options to do with queries from a file, but not all the command line options. I'd like to be able to specify those in a configuration file, so that file can be kept in a separate place. I'm planning to work on this issue, probably just by adding this https://pypi.org/project/click-config-file/ and testing it a bit.

[2020-05-06 08:29] braedon commented on #62
Sounds good @RobertKirk, happy to review a PR

[2020-05-06 09:04] RobertKirk commented on #62
Have created the PR.

[2020-05-13 16:27] braedon commented on #62
Fixed in [0.9.0](https://github.com/braedon/prometheus-es-exporter/releases/tag/0.9.0)

[2020-05-13 16:27] #62 closed

[2020-06-02 02:27] searchgithub opened #64 "_search just return 10000"
I try to use the search, when the number is above 10000, it just return 10000,

POST logstash*/_search?size=0
{
  "query": {
    "bool": {
      "must": [
        {
          "query_string": {
            "query": """  xxx """,
            "analyze_wildcard": true
          }
        }
      ],
      "filter": [
        {
          "range": {
            "@timestamp": {
              "gt": "now-10

[2020-06-02 02:28] searchgithub commented on #64
Does it has limitation? Is there any aggressive way to get the count number?

[2020-06-03 15:32] braedon commented on #64
Hi @searchgithub, it looks like you're hitting the total hit limit that was [introduced in ES7](https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking-changes-7.0.html#track-total-hits-10000-default).

You should be able to force ES to compute the full count by [setting `track_total_hits` to `true`](https://www.elastic.co/guide/en/elasticsearch/reference/master/search-request-bod

[2020-06-17 02:23] superfenv opened #65 "es index storage size is inconsistent"
I use curl -X GET _cat/indices?v&s=index method and use exporter --es.indices to get elasticsearch_indices_store_size_bytes_total value is not the same?

[2020-06-18 04:00] braedon commented on #65
Hi @superfenv, the metric values the exporter produces come directly from parsing elasticsearch APIs. Specifically, the `/_cluster/health`, `/_nodes/stats` and `/_stats` endpoints. If there is any discrepancy between these APIs and `_cat/indices`, it's a question for Elasticsearch, not this exporter.

If you can post a specific example of the metric you're looking at, and the mismatching `_cat/ind

[2020-06-18 04:00] #64 closed

[2020-06-18 04:04] braedon commented on #24
I'm going to close this, since @RobertKirk's [solution above](https://github.com/braedon/prometheus-es-exporter/issues/24#issuecomment-624510361) seems like the best option for handling these types of indices.

If anyone has an idea for how to support this natively in the exporter, feel free to re-open to discuss.

[2020-06-18 04:04] #24 closed

[2020-06-18 05:23] superfenv commented on #65
I wish you all the best and thank you for your reply
This problem is solved. As you said, it is not an es exporter problem. When
executing ES API queries, the storage type will be automatically converted.
Prometheus es exporter does not convert but in bytes, so it looks
inconsistent. In fact, it is converted after identical. Therefore, I have a
question, how to get the index value of storage in es

[2020-06-18 05:41] braedon commented on #65
Hi @superfenv, Prometheus metric values should always be in base units - bytes in this case - and it's up to clients to do any conversion. [See this section of the Prometheus documentation](https://prometheus.io/docs/instrumenting/writing_exporters/#naming):

If you're writing queries manually rather than using client software, I'm not aware of any shortcuts to convert units, but that's really a q

[2020-06-18 05:41] #65 closed

[2020-06-18 14:29] jonny-wg2 opened #66 "Total field metric"
Do you have an example to create a prometheus metric out of the count of total fields?

For example, under `management/kibana/index_patterns` you can see the total number of fields. I would like to create a prometheus metric so I can alert if there are 1000 fields or more.

[2020-06-20 23:18] chrissound opened #67 "Can I exclude the `python_*` and `es_*` metrics somehow?"
Hello! Many thanks for making this project!

I was wondering, if there is a was to configure this to exclude the `python_*` and `es_*` metrics - hence to only have metrics based on my "own" queries? I'm hoping this will increase the response time of entire metrics page.

[2020-06-21 04:59] braedon commented on #67
Hi @chrissound, you can use the `--cluster-health-disable`, `--nodes-stats-disable`, and `--indices-stats-disable` flags to turn of the `es_*` metrics. These metrics are fetched from the ES API on the fly when `/metrics` is called, so are probably the cause of slow responses if your ES cluster is large. The `python_*` metrics can't be disabled (currently?) but shouldn't produce much of any overhea

[2020-06-21 06:29] braedon commented on #66
Hi @jonny-wg2, unfortunately Elasticsearch doesn't seem to expose this number anywhere, and I'm not aware of any way to calculate it with a query.

It looks like the only feasible way to get it is to parse the `/_mappings` endpoint and count the number of fields for each index. I'll have a look at adding a collector to do that.

[2020-06-21 09:59] jonny-wg2 commented on #66
Awesome!! For more details, what I am trying to achieve is

curl -s -XGET elasticsearch.cluster.domain:80/logstash-xxx-2020.06.19/_mapping?pretty grep type | wc -l
1143

Also, would you be able to supper multiple indicies? Logstash-yyy and logstash-xxx ?

[2020-06-21 10:34] chrissound commented on #67
Thank you! Works great and a lot quicker now.

[2020-06-21 10:34] #67 closed

[2020-06-23 07:11] braedon commented on #66
Released in version [0.10.0](https://github.com/braedon/prometheus-es-exporter/releases/tag/0.10.0)

[2020-06-23 07:11] #66 closed

[2020-06-29 17:28] jonny-wg2 opened #69 "View alias's in prometheus metric es_indices_mappings_field_count"
I would like to be able to filter on alias's for index's.

For example, our es cluster stores 60 indexes. Generally it is `logstash-yyyy-mm-dd`.

The issue I have is, because the index date changes, I am unable to create a prometheus metric out of `es_indices_mappings_field_count` to monitor the count of fields in today's metric.

https://stackoverflow.com/questions/58734793/use-today-date-in-labe

[2020-06-29 20:10] akiryliuk opened #70 "Disable default metrics"
How i can disable default metrics? And use only custom queries?

[2020-07-01 03:55] braedon commented on #70
Hi @akiryliuk, is this what you're after? https://github.com/braedon/prometheus-es-exporter/issues/67#issuecomment-647079186

Note that since that indices mappings metrics have since been added, so you'll also need to add `--indices-mappings-disable`

[2020-07-01 14:02] braedon commented on #69
Hi @jonny-wg2, I can add metrics for index aliases, allowing you to filter other metrics based on those aliases.

e.g. assuming your alias was `logstash-today`:
[code]
Note that when the index/alias rolls over at the end of the day the old alias metric will persist for a few minutes even though the exporter is no longer exporting it. This will temporarily result in two metrics for the same alias,

[2020-07-01 17:51] jonny-wg2 commented on #69
Ahh that would be awesome! I am ok with have a duplicate metric for some time.

Question, would the exporter be able to add the `logstash-today` alias to the metric? This would be beneficial as it's one less cronjob I would need to run.

[2020-07-02 05:24] braedon commented on #69
Sorry, not sure what you mean by this. Could you elaborate?

[2020-07-02 08:18] jonny-wg2 commented on #69
Sorry I'll try to elaborate.

Will the `alias="logastash-today"` be populated by the es-exporter for today's index, or do I need to add logic elseware to add this alias outside? It would be great if the exporter could add this alias to the correct index.

[2020-07-03 03:49] braedon commented on #69
Ahh, I see. Unfortunately, no, I'd prefer to keep the exporter free of that kind of feature. The `es_indices_aliases_alias` metrics would be populated by parsing the `/_alias` endpoint, so any alias you wanted to use would need to be added to Elasticsearch and maintained separately.

[2020-07-03 07:14] jonny-wg2 commented on #69
Ah ok, because I know that indices can support multiple alias's so it shouldn't be a conflict to user's setup if this was the case. But that ok. I'll just build a cronjob to add this to our ES cluster every 24 hours.

[2020-07-03 10:57] braedon commented on #32
Hi @alexppg, sorry it's taken so long to get this sorted.

I've finally got a [helm repo](https://braedon.github.io/helm/) up, with a [chart for prometheus-es-exporter](https://braedon.github.io/helm/prometheus-es-exporter/) based on your work. You can find the [chart source code here](https://github.com/braedon/braedon.github.io/tree/master/helm/prometheus-es-exporter).

I've pushed version `0.1.

[2020-07-03 10:57] #32 closed

[2020-07-03 11:36] braedon commented on #69
Released in [0.11.0](https://github.com/braedon/prometheus-es-exporter/releases/tag/0.11.0)

[2020-07-03 11:36] #69 closed

[2020-07-06 16:16] jonny-wg2 opened #72 "Question: Ability to view storage space per index?"
Hi, is there a prometheus metric to view the total storage consumed by index name?

For example
[code]

[2020-07-07 12:09] jonny-wg2 commented on #46
@jackiepg12 best way to reload the config is just redeploy the exporter or kill the pod. This is pretty common with many apps when it comes to initializing config at runtime.

[2020-07-07 14:16] braedon commented on #72
Hi @jonny-wg2, it sounds like `es_indices_stats_total_store_size_in_bytes{index}` is what you're after. You'll just need to set `--indices-stats-mode=indices` to get it per index, rather than a single metric for `_all`. There's also `es_indices_stats_primaries_store_size_in_bytes{index}` if you only want to primary shards, not the replicas.

[2020-07-13 16:19] jonny-wg2 commented on #72
Thanks for the response.

At currently, I have the exporter configured with
`args: [ "--port", "9206", "--es-cluster", "elasticsearch.dev.wgtwo.com:80", "--indices-stats-mode", "indices", "--indices-stats-metrics", "fielddata", "--indices-stats-fields", "*", "--nodes-stats-disable"]`

As shown in the image, the only related metrics are
![image](https://user-images.githubusercontent.com/39831372/87

[2020-07-14 04:20] braedon commented on #72
Hmm, I wonder if AWS have reduced the output of the `/_stats` endpoint. Would you be able to send me the output of a `/_stats` call (redacted as needed)? Please also try `/_all/_stats/_all?level=indices`, and if any different to `/_stats`, send that as well.

The need for `--nodes-stats-disable` was found in https://github.com/braedon/prometheus-es-exporter/issues/45, but I've never been able to g

[2020-07-14 07:21] jonny-wg2 commented on #72
I can't remember now if it was crashing the exporter but can take the `--node-stats-disable` discussion on the other issue.

As requested, the output

`_stats`
[code]
`/_all/_stats/_all?level=indices`
[code]

[2020-07-14 07:23] jonny-wg2 commented on #45
AWS Managed Elastic Search output

`/_nodes/stats`
[code]

[2020-07-14 08:23] braedon commented on #72
Thanks for that.

I've run that output through the parser manually, and filtering for the `es_indices_stats_total_store_size_in_bytes` metric, got this:
[code]
That looks correct to me, so the issue doesn't seem to be with the `/_stats` endpoint response.

Is the exporter logging any warning or errors? If you call the exporter endpoint directly, is the `es_indices_stats_total_store_size_in_bytes`

[2020-07-14 09:04] braedon commented on #45
Thanks @jonny-wg2, I think I've found the issue.

In the `fs.data` list for the nodes, it looks like AWS is dropping the `path` field for each data directory entry. The parser expects the path to be there as it uses it to populate the `path` label, identifying the metrics for each data directory.

AWS example:
[code]
Non-AWS example:
[code]

I'll put in a fallback to use the data directory's posit

[2020-07-14 09:34] jonny-wg2 commented on #72
Logs
[code]

curl from the exporter
[code]

[2020-07-14 09:53] braedon commented on #72
Ahh, I think it's because of your `"--indices-stats-metrics", "fielddata"` option. That'll limit the indices stats metrics to only those from the `fielddata` section. That's why the logs show queries to `/_stats/fielddata`, not just `/_stats`. Sorry, not sure why I didn't spot that earlier!

You should be able to get the `store` metrics by changing it to `"--indices-stats-metrics", "fielddata,stor

[2020-07-14 10:10] braedon commented on #45
Fixed in [0.11.1](https://github.com/braedon/prometheus-es-exporter/releases/tag/0.11.1)

[2020-07-14 10:10] #45 closed

[2020-07-14 11:10] jonny-wg2 commented on #45
Thanks @braedon !

[2020-07-14 12:14] #70 closed

[2020-08-03 13:51] jonny-wg2 commented on #72
Awesome, I managed to get it working. Changing it to `"--indices-stats-metrics", "fielddata,store"` fixed the issue. Thanks a bunch for the help.

[2020-08-03 13:51] #72 closed

[2020-08-07 12:34] nithyashree675 opened #74 "Handle merging metric dict when query match metric value drops"
When the matching query count in Elasticsearch drops to zero, the [merge_metric_dicts](https://github.com/braedon/prometheus-es-exporter/blob/master/prometheus_es_exporter/metrics.py#L134) function crashes at code [None.copy()](https://github.com/braedon/prometheus-es-exporter/blob/master/prometheus_es_exporter/metrics.py#L124). This behaviour continues to provide same metric value to the Promethe

[2020-08-07 12:47] nithyashree675 commented on #74
The minor fix is ready, pulling up the PR.

[2020-08-07 13:45] #74 closed

[2020-08-07 13:52] nithyashree675 opened #76 "Handle merging metric dict when query match metric value drops"
When the matching query count in Elasticsearch drops to zero, the [merge_metric_dicts](https://github.com/braedon/prometheus-es-exporter/blob/master/prometheus_es_exporter/metrics.py#L134) function crashes at code [None.copy()](https://github.com/braedon/prometheus-es-exporter/blob/master/prometheus_es_exporter/metrics.py#L124). This behaviour continues to provide same metric value to the Promethe

[2020-08-09 09:36] braedon commented on #76
Fixed in [0.11.2](https://github.com/braedon/prometheus-es-exporter/releases/tag/0.11.2)

[2020-08-09 09:36] #76 closed

[2020-08-18 11:14] jonny-wg2 opened #77 "Support ChaosSearch Elastic Search Endpoint"
Hi, do you support the Chaos Search ES endpoint? https://docs.chaossearch.io/docs/chaossearch-api

Their authentication method is via AWS access key and tokens.

[code]

[2020-09-14 08:31] opsforce commented on #46
@jackiepg12
if you use Kubernetes, maybe [stakater-reloader](https://github.com/stakater/Reloader) can help you.

[2020-09-15 08:03] braedon commented on #77
Closing for now, as [it's not currently required](https://github.com/braedon/prometheus-es-exporter/pull/79#issuecomment-692535220).

If anyone else needs ChaosSearch support (or AWS auth support for another ES provider), feel free to re-open.

[2020-09-15 08:03] #77 closed

[2020-09-23 07:21] rg2011 opened #82 "Support Authorization: header for connection to ElasticSearch"
First of all, thanks for sharing your code.

I would like to use it to perform queries against the log store of RedHat's Openshift, but Openshift places its ElasticSearch cluster behind an oAuth proxy that requires Bearer Authentication (please see [this](https://docs.openshift.com/container-platform/4.5/logging/config/cluster-logging-log-store.html#cluster-logging-elasticsearch-exposing_cluster-l

[2020-09-25 05:57] braedon commented on #82
Hi @rg2011, adding something similar to the basic-auth handling but for `Authorization: Bearer ...` sounds like a good idea. Happy to review a PR.

I assume the Openshift tokens are static/long-lived?

[2020-09-25 07:46] rg2011 commented on #82
Yes, as long as you use ServiceAccount tokens, they won't expire (https://docs.openshift.com/container-platform/4.5/authentication/using-service-accounts-in-applications.html). Let's see if I can make this work.

[2020-09-27 03:04] vishrantgupta opened #84 "What is the recommended CPU and memory for this exporter?"
Hi @braedon, what is the recommended CPU and memory settings for this exporter?

[2020-09-27 05:19] braedon commented on #84
Hi @vishrantgupta, it really depends on how many queries you're running, how many metrics they generate, and how big your cluster is (for cluster metrics).

For reference, I have an instance that runs a couple of queries against a small data set on a 3 node cluster - pretty minimal. It uses ~25MB of memory, and >1% CPU, so that's probably your lower limit.

I'd recommend trying it out and measurin

[2020-09-30 04:33] #82 closed

[2020-09-30 04:43] braedon commented on #82
Released in [0.13.0](https://github.com/braedon/prometheus-es-exporter/releases/tag/0.13.0)

[2020-10-06 03:59] #84 closed

[2020-11-03 09:29] mrueg opened #86 "Run query based on URL POST Request"
It would be a nice feature, if prometheus-es-exporter could execute a query based on a POST request, similar to blackbox_exporter (compare e.g. https://github.com/prometheus/blackbox_exporter#checking-the-results )
e.g. https://es-exporter/metrics?query=$MY_QUERY

This has certain advantages, as one could quickly replace the query without redeploying the exporter or run multiple queries (based on

[2020-11-06 03:58] braedon commented on #86
Hi @mrueg, could you clarify what kind of queries you'd like to run?

We could use an endpoint like this to run a query string query and get basic count metrics, but I don't know of a reasonable way to do aggregations?

[2020-11-11 15:57] Crossfire972 opened #87 "Exporter not compatible with ElasticSearch 5.X"
Hi,

We are running ElasticSearch in AWS with the version 5.2 (which is super EOL),

The parsing of the mappings fails because of this field (https://www.elastic.co/guide/en/elasticsearch/reference/5.6/default-mapping.html) as it does not have a `properties` field.

Especially on that record:

[code]

Here is the error that come up when connecting to the ES 5.X:

[code]

Do you know if it would be

[2020-11-11 16:53] braedon commented on #87
Hi @Crossfire972, it looks like we can just skip the `_default_` type when parsing old style mappings. I'll take a look tomorrow.

[2020-11-12 07:13] braedon commented on #87
Fixed in [0.13.1](https://github.com/braedon/prometheus-es-exporter/releases/tag/0.13.1)

[2020-11-12 07:13] #87 closed

[2020-11-12 18:55] Crossfire972 commented on #87
Thanks a bunch

[2020-11-16 19:59] askz commented on #86
we could support urlencoded or base64 encoded query string to achieve this

[2020-11-17 15:36] askz opened #88 "Composite aggregations"
Hi,
I have experimented with composite aggregation, since I need to extract context metrics for some alerts.

Here's is the aggregation:
[code]

Here's what's returned:
[code]

the problem here is that doc is now a string....
is there a way to get these vars as labels?
Or another aggregation way to do this ?

Thanks for your time and investment on this project!

[2020-11-18 09:22] braedon commented on #88
I've added basic composite aggregation support in [0.14.0](https://github.com/braedon/prometheus-es-exporter/releases/tag/0.14.0).

I've only tested against fairly basic queries, but hopefully it covers your use case. If not, or if you run into other issues, don't hesitate to raise another issue with details and I'll see what I can do.

[2020-11-18 09:22] #88 closed

[2020-11-18 09:42] braedon commented on #86
Yeah, it's definitely possible to encode the query JSON in a URL, but it doesn't seem like it'd be very user friendly...

Just supporting doc count metrics from a query string query would be a lot friendlier - it's a direct translation from the ES API - but I'm not sure if that'd satisfy @mrueg's use case.

To be honest, I'm a little reluctant to add a custom metrics endpoint full stop, as it'd re

[2020-11-18 11:07] mrueg commented on #86
@braedon The setup I image would use prometheus-operator on Kubernetes with trusted users being able to hit the prometheus-es-exporter with custom queries by creating their own ServiceMonitor objects. I agree that the endpoint needs protection from abuse, similar to blackbox-exporter or others that allow running custom queries.

The advantages I see from this approach is getting an easy way to upd

[2020-11-18 19:41] askz commented on #88
wow that was really fast !!

Just tested and it fits perfectly my use case, many many thanks.

[2020-11-18 20:05] askz opened #89 "InsecureRequestWarning on secure request"
I have my ES cluster behind HAProxy with SSL from Let's Encrypt.

Still, I get those warnings at every request.

[code]
Is there a possibility to actually check the certificate if it's not given in configuration?

[2020-11-19 06:39] braedon commented on #89
Hi @askz, you'll need to provide the `--ca-certs` option, pointing to some set of CA certs.

The exporter doesn't (explicitly) ship with CA certs, as I'd then need to release a new docker image whenever the bundle is updated (and a lot of orgs need their own internal certs anyway).

As it happens, the docker image actually contains (at least) two CA cert bundles, which you can use to quickly get c

[2020-11-20 10:36] askz commented on #89
Thanks.
Closing as it's resolved !

[2020-11-20 10:36] #89 closed

[2020-12-14 16:35] jonny-wg2 commented on #46
+2 on `stakater-reloader` . we have this and it works great

[2020-12-14 16:37] jonny-wg2 opened #90 "Add metadata to prometheus metrics"
Hi, I am curious if there is a way to add metadata from an es query to a prometheus metric?

[2020-12-15 03:21] braedon commented on #90
Hi @jonny-wg2, what kind of metadata are you after, and how would you need it exposed?

[2021-01-18 19:59] jonny-wg2 commented on #90
Sorry for the late reply.

Essentially, I am wondering if it is possible to add prometheus labels to a prometheus metric that is created by the exporter.

For example, adding the following to `exporter.cfg`
[code]
Would create a metric with
`es_query_custom_tag_hits` with the metric only having the total hit count - such as

[code]

Would there be a way to also include prometheus labels with metad

[2021-01-27 13:27] braedon commented on #90
Creating result buckets with an aggregation (e.g. terms or filter) is usually the best way to create labels from data like tags.

Your example seems to only match a single tag, however. In cases like that, the tag data would usually be part of the metric name, not a label? Is there a particular reason you need it as a (single value) label?

There have been a few requests before for the ability to

[2021-02-23 11:24] zakabluk opened #91 "Is absen optino: ssl_certificate_verification"
For connection to ES need add option ssl_certificate_verification(true/false). Now when ES use self singin cacert there is ssl connection error.
[code]
and need disable host_verification .

[2021-02-24 07:40] braedon commented on #91
Hi @zakabluk, could you post the CLI options you're using, and the error logs you're seeing?

For a self-signed cluster, you should be able to just specify a HTTPS URL in `--es-cluster`, and not specify `--ca-certs` - that should use a HTTPS connection, but set `verify_certs=False` (i.e. use the `else` block in the code you posted).

e.g.
[code]

Of course, it's usually better to provide the self-

[2021-02-26 13:03] zakabluk commented on #91
@braedon Hi! I used
command: " --log-level DEBUG -e https://elasticsearch:9200 --ca-certs /usr/src/app/ca.pem --basic-password password --basic-user user --cluster-health-disable --nodes-stats-disable --indices-mappings-disable --indices-stats-disable"
and when I changed in code:
[code]
I got errors about "Hostname verification". I fixed this when added to docker compose file:
[code]

[2021-02-28 05:07] braedon commented on #91
Can you post the exact logs you get when running that command with the original code (i.e. verify_certs=True)?

What happens if you run:
[code]
i.e. remove the `--ca-certs` option, which should disable `verify_certs`.

Were your instance certs generated with IPs or DNS names? i.e. were the `--ip` and/or `--dns` options of the `elasticsearch-certutil cert` command specified?

[2021-03-23 09:00] chas0amx opened #92 "Optionally disable Process and Platform collectors"
Implement options to disable those collectors during usage

Something like this:
`
# Unregister default metrics
REGISTRY.unregister(PROCESS_COLLECTOR)
REGISTRY.unregister(PLATFORM_COLLECTOR)
# Unlike process and platform_collector gc_collector registers itself as three different collectors that have no corresponding public named variable.
REGISTRY.unregister(REGISTRY._names_to_collectors['python_g

[2021-04-06 09:45] xuanyuanaosheng opened #93 "Usage Problem?"
1.   Could you please update the helm repo to v3 ?
2.   Could you please provide a  grafana dashboard json ?
3.   Which version support the config reload ?

[2021-04-10 09:35] braedon commented on #93
Hi @xuanyuanaosheng, I'll answer your questions in order:

1. As far as I'm aware, the existing helm repo works fine with helm v3 (that's what I'm running myself). Have you encountered a problem that requires updating it to v3 to work?

2. I haven't developed a general purpose Grafana dashboard, and don't have any plans to currently. If you'd like to contribute one I'd consider adding it as an exa

[2021-04-10 09:37] braedon commented on #56
Closing since it's been over a year. If anyone else runs into this issue, please leave a comment and I can look into it again.

[2021-04-10 09:37] #56 closed

[2021-04-14 04:09] xuanyuanaosheng commented on #93
@braedon  Thanks for your reply, I have test it, using the helm v3, it works fine.

[2021-04-28 07:27] braedon commented on #93
Great, I'll leave the repo as-is for now since it works with helm v3. I'll probably upgrade it next time I have to change the chart.

[2021-04-28 07:27] #93 closed

[2021-04-28 07:29] braedon commented on #90
Closing for now - feel free to re-open if you'd like to discus your use case further.

[2021-04-28 07:29] #90 closed

[2021-04-28 07:30] braedon commented on #91
It's been a while, so closing for now. Feel free to re-open if you'd like to discuss further.

[2021-04-28 07:30] #91 closed

[2021-05-05 13:54] kostas-rs opened #94 "Error while adding helm repo"
Hi,

I have been using the exporter for a while now and its working very well. Today i tried to run update the repo using helm but im getting the below message:

`2021/05/05 14:46:26 ERROR: while adding repo [braedon]: Error: Looks like "https://braedon.github.com/helm" is not a valid chart repository or cannot be reached: Failed to fetch https://braedon.github.com/helm/index.yaml : 404 Not Found`

[2021-05-05 14:10] braedon commented on #94
Darn, looks like I've been referencing braedon.github.com (old deprecated Github pages domain) in some places, instead of braedon.github.io (new Github pages domain)... My bad - I should have picked up on that before they stopped supporting the old one.

If you update your repo to https://braedon.github.io/helm (just add it again with the new URL) it should work.

I'll go through and update all th

[2021-05-05 14:24] kostas-rs commented on #94
Ah that explains it, updated to the new repo and now it works like charm :)
Thanks!

[2021-05-05 14:31] #94 closed

[2021-06-04 05:47] xuanyuanaosheng commented on #46
@opsforce @jonny-wg2  Could you  please give a example ?

[2021-06-04 09:11] jonny-wg2 commented on #46
The reloader docs will help.

But here you go
[code]

[2021-07-01 07:37] MonicaMagoniCom opened #95 "Help with aggregation percentile"
Hi,

I add this query to the configuration of the prometheus es-exporter:
[code]

However I only get:
missed_calls_hits
missed_calls_took_milliseconds

And I'm not getting the aggregation labels:
missed_calls_6_values

I checked the logs and the result from elasticSearch is correct. Any suggestions?

[2021-07-01 19:44] zakabluk commented on #91
[code]
I created cert by "elasticsearch-certutil cert" without ip/dns options. I use ca-certs for connection to elasticsearch, I am not able exlict --ca-certs.

[2021-07-02 02:10] braedon commented on #95
Hi @MonicaMagoniCom, my best guess is it's due to using `"keyed": false` in the percentile ranks aggregation. That changes the output format to one that isn't expected by the parser.

Can you try reverting the the "keyed" form? If that still doesn't work, please run the query against your cluster and post an example response - that'll help me check where the parser is going wrong.

[2021-07-02 02:36] braedon commented on #91
Hi @zakabluk,

As stated above, my best guess for how to connect to a cluster that has HTTPS enabled but doesn't have correctly configured certificates is to use a HTTPS URL without any `--ca-certs`.

I don't know if this works or not, as I don't have access to your cluster, and don't have enough information about your cluster to replicate (nor do I have the time to do so).

As previously requeste

[2021-07-02 09:36] MonicaMagoniCom commented on #95
That was the problem! Thank you very much

[2021-07-02 09:36] #95 closed

[2021-07-23 10:29] MonicaMagoniCom opened #96 "Avg_bucket function"
Is the function avg_bucket from elasticsearch supported?

[2022-01-06 00:42] ntavares commented on #46
@braedon I think this definitely a plus. I had this requirement today, and had a look at the code. Shouldn't be too hard to implement, if I get around at learning how to reset the scheduler from scratch. I'm wondering if you have any thoughts on the best way forward?

Currently, this is what I'm doing:
* I have an initContainer with kiwigrid/k8s-sidecar (quick reading through stakater-reloader doe

[2022-01-25 20:22] paladox opened #99 "Add support for ipv6"
Could support for ipv6 be added please?

I see it binds to ipv4 only but ipv6 only hosts won't work for obvious reasons :)

[code]

there's no way to configure what to listen on as far as I can find.

[2022-01-27 08:26] braedon commented on #99
Hi @paladox,

Someone requested this a couple of years ago (https://github.com/braedon/prometheus-es-exporter/issues/56), but it's a bit hard for me to implement as I don't have a ipv6 network to test on.

I did try and add support, but didn't have a way to test it: https://github.com/braedon/prometheus-es-exporter/pull/59/files

It's quite a few versions behind now, but should be able to access t

[2022-03-03 22:18] piif opened #100 "allow url parameters in query configuration"
Aggregation query results may be polluted by extra fields which implies many useless metrics.
To filter there fields, one may use `?filter_path=` parameters to url.
Thus a query configuration options should be usefull to add this query string on called URL.

[2022-03-03 22:24] piif commented on #100
here is an example :
with following aggregator, the exporter will return `my_query_le_doc_count` and `my_query_le_to` :
[code]
Metric `my_query_le_doc_count` may be use as an histogram metric and quantile function works directly on it
On the other hand, metric `my_query_le_to` is useless, thus i may appe,nd to the url `?filter_path=aggregations.le.buckets.key,aggregations.le.buckets.doc_count` to

[2022-04-20 16:26] paladox commented on #99
Seems this may be fixed with https://github.com/prometheus/client_python/pull/657

[2022-04-26 12:49] tahacodes opened #103 "FEATURE REQUEST | Add support for "include" option in config file"
Hi, I've started using this project in production and everything seems to be working well so far, but the problem is i want to generate a log of metrics from my nginx access logs, so i'm using this project to fetch them by querying Elasticsearch, and so far, my configuration file is over 1000 lines and it's getting so hard to maintain.

It would be perfect if we could use something like "**include

[2022-05-31 11:18] annaken opened #104 "Number of fields returned for es_indices_mappings_field_count is incorrect"
We have an index that is reported by the ex-exporter as having 879 fields. However if I do:
[code]
cat dailyindex.json | jq .fields | jq length
1057
[code]

[2022-06-06 03:31] braedon commented on #104
Hi @annaken, I suspect most of the difference is due to `es_indices_mappings_field_count` only counting leaf fields in the mapping tree, not objects. I can add a count of objects to cover this.

However, the `_field_caps` endpoint also includes a number (10 in the version I'm using) of underscore-prefixed system fields - e.g. `_id`, `_source` - that don't appear in the mappings. I'm not sure if th

[2022-06-06 06:49] braedon commented on #103
Hi @tahacodes, you can use a folder containing multiple query config files, with the `--config-dir` option (https://github.com/braedon/prometheus-es-exporter/blob/7ae9a42f447f0000363d53dacb99262348c91425/prometheus_es_exporter/__init__.py#L448-L455).

Does that not satisfy your use case?

[2022-06-08 12:12] annaken commented on #104
Thank you! I'm happy enough to set our alerts at 985 fields (or less!) to account for that.

[2022-06-12 19:36] #103 closed

[2022-07-20 11:50] akiryliuk opened #105 "Multiple query_terms"
Can i use multiple query_terms?
I need query for different indexes with different fields

[2022-07-20 11:59] #105 closed, assigned to nobody

[2022-08-03 03:15] BhusanBibhuti opened #106 "Does it support Elastic Search Open Distro"
Does ES Open Distro (https://www.elastic.co/downloads/past-releases/elasticsearch-oss-7-10-2) supports this exporter ??

[2022-08-03 03:17] braedon commented on #106
Yes, this exporter supports Elasticsearch 7.10.2.

[2022-08-03 03:17] #106 closed, assigned to nobody

[2022-08-03 05:00] BhusanBibhuti commented on #106
Please note that I did mention ES **OSS** 7.10.2 , not ES 7.10.2

[2022-08-03 05:03] braedon commented on #106
Whether it the OSS version or otherwise has no bearing on the operation of exporter, so long as the cluster is functional and the exporter can access it.

If you have any concerns, I suggest you try it.

[2022-09-08 00:45] Universal-Omega commented on #99
I tested that.
https://github.com/braedon/prometheus-es-exporter/pull/59#pullrequestreview-1099933646

[2022-11-29 19:28] alexadmin opened #107 "How to add labels to query metrics?"
Is it possible to add labels to query metrics? I only noticed that function in MySQL exported
https://github.com/braedon/prometheus-mysql-exporter/blob/master/exporter.cfg
"QueryValueColumns = ni,ptang"

thank you.